<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qubgrademe-reverseproxy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/91d51a0f-599d-4631-a993-516ded5b15f2/resourcegroups/qubgrademe/providers/Microsoft.Web/sites/qubgrademe-reverseproxy</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/91d51a0f-599d-4631-a993-516ded5b15f2/resourceGroups/qubgrademe/providers/Microsoft.ContainerRegistry/registries/qubgrademetotalmarks</ContainerResourceId>
    <ContainerResourceName>qubgrademetotalmarks</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>qubgrademetotalmarks.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>